{% extends 'index.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/book_list.css' %}">

        {% for book in books_2 %}
        <a href="{% url 'book_detail_2' book.id %}" class="book-link">
          <div class="book-card">
            <img src="{{ book.photo.url }}" alt="Книга 1">
            <div>{{ book.title|truncatechars:45 }}</div>
          </div>
        {% endfor %}
        </a>

        
        <div class="pagination">
          {% for page in max_page.paginator.page_range %}
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          {% endfor %}
      </div>
{% endblock %}