{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_detail.css' %}">
    
<main>
    <article>
        <header>
            <h1>{{ book.title }}</h1>
            <p class="author">Автор: {{ book.author }}</p>
            {% for genre in book.genres.all %}
            <p class="genres">Жанры: {{ genre.name }}</p>
            {% endfor %}
            <p class="release-year">Год релиза: {{ book.year_of_release }}</p>
        </header>
        <section class="book-details">
            <img src="{{ book.photo.url }}" alt="{{ book.title }}">
            <p class="description">{{ book.description }}</p>
            <p></p>
            <a href="1/"><button class="start-reading-button">Начать читать</button></a>
        </section>
    </article>
</main>
{% endblock %}
