{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/jpeg">
    <title>Ranobe</title>
</head>
<body>
  <div class="layout"> 
          <header>
            <div class="title">
              {% if user.is_authenticated %}
                <a href="/">
                  <img src="{% static 'images/logo.png' %}" alt="Логотип Ranobe" width="50px">
                </a>
              {% else %}
                <img src="{% static 'images/logo.png' %}" alt="Логотип Ranobe" width="50px">
              {% endif %}
            </div>
    
            <ul class="menu">
              {% if user.is_authenticated %}
                <li><a href="/">Категория</a></li>
                <li><a href="/genre/">Жанры</a></li>
                <li><a href="/book/create/">Добавить книгу</a></li>
                <li><a href="/profile/">Профиль</a></li>
                <li><a href="/admin/">Админ</a></li>
              {% else %}
                <li><a href="/login/">Вход</a></li>
                <li><a href="/register/">Регистрация</a></li>
              {% endif %}
            </ul>
          </header>
        
          <main>
            {% block content %}
            {% endblock %}
          </main>
        <footer>


        </footer>
  </div>
</body>
</html>