{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<div class="container">
    <div class="row">
        <div class="col-12">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="">
            {% else %}
                <img src="{% static 'logo.png' %}" alt="" class="profile-img">
            {% endif %}
            <h1>{{ user.first_name }}</h1>
            <h1>Имя пользователя: {{ user.username }}</h1>
            <p>Адрес электронной почты: {{ user.email }}</p>
            <p>Дата создания: {{ user.date_joined }}</p>
            <form action="/logout/" method="get">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
            
            <div style="margin-top: 10px;"></div>
            
            <a href="/profile_update/">
                <button type="submit" class="logout-btn">Обновить</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}